/* 
Sahana - Default Theme - Stylesheet 
-----------------------------------------------------------------------------------
Prabhath Sirisena - prabhath@vesess.com - http://nidahas.com

Selectors are listed in their order of appearance in the html, where applicable.
---------------------------------------------------------------------------------- */

/* SECTION:ALLTAGS */

thead td{
	text-align:center;
	padding:.25em .25em .25em .25em;
	border-right:2px solid #DEE3E7;
	background: #0E72A4; 
	background: green; 
	color:#fff;
	border: #26a solid 1px; 
	font-size:100%;
}

/* Neutralize styling: 
   Elements we want to clean out entirely: */
html, body, form, fieldset {
        margin: 0;
        padding: 0;
        font: 100%/125% Arial, Helvetica, sans-serif;
}

/* Neutralize styling: 
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
        margin: 0 0 1em 0;
        padding: 0;
}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
        margin-left: 1em;
}

/* Miscellaneous conveniences: */
body {
	font-size: 0.8em;
	color: #000;
	background: #369;
}

input, select, textarea {
	font-size: 100%;
}

/* Links should ALWAYS be unvisited */
a {
	color: #039;
	text-decoration: underline;
}

a:hover {
	color: #C00;
	text-decoration: none;
	background-color: #FFC;
}

/* SECTION:LAYOUT 
   Over structure of the page 
*/

#container {
}

#header {
	border-bottom: #036 5px solid;
	padding: 0 1em;
	background-color: #369;
	height: 100px;
	position: relative;
}

#language{
	
}

#language form{	
	position: absolute;
	top: 60px;
	right:0%;
	height: 30px;	
	border:none;
 	background-color:#369;
	padding:0em;
}

#language select{			
	color:#fff;
	border: 1px solid #369;
	border-style:none;
	background:#369;	
}

#language label{
	display:none;
}


#wrapper {
	background: url(img/wrapper_bk.png) #FFF repeat-y left top;
}

#wrapper_menu {

}

#wrapper_content {

}

#content {
	margin: 0 0 0 200px;
	padding: 1em;
}

#footer {
	margin: 0;
	padding: 10px;
	clear: both;
	color: #FFF;
	background-color: #369;
	border-top: #036 5px solid;	
}

/* SECTION:HEADER-FOOTER*/

#header h1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 400px;
	text-indent: -9999px;
	background: url(img/sahana_logo.jpg) #369 no-repeat left top;
	/* This stuff is useless since we're using image replacement 
	------------------------------------------------------------
	margin-top: 0;
	padding-top: 1em;
	color: #FFF;
	text-transform: uppercase;
	float: left;
	------------ */
}


#header h3 {
	padding-top: 1em;
	text-align: left;
	color: #FFF;
    float: bottom;
}
#skip {
	margin-bottom: 0;
	padding: 10px;
	width: 180px;
	font-size: 90%;
	float: left;
}

/* SECTION:NAVIGATION 
   Contains all the menu stylizing
*/

#menuwrap, #modmenuwrap {
}

#menuwrap h2, #modmenuwrap h2 {
	margin: 1em 0 0.5em 0;
	padding: 0 0 0 5px;
	font-size: 120%;
	text-transform: uppercase;
	text-align: left;
}

#menuwrap h2 {
	color: #036;
}

#modmenuwrap h2 {
	color: #360;
}

#menuwrap, #modmenuwrap {
	float: left;
	clear: left;
	width: 180px;
}

#menuwrap { 
	width: 200px; 
	float: left; 
	clear: left; 
}

#menuwrap ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
}

#menuwrap li
{
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}

#menuwrap ul li a
{
	display: block;
	width: 190px;
	padding-left: 10px;
	background-color: #036;
	font-size: 0.9em;
}

#menuwrap ul li a:link, #menuwrap ul li a:visited
{
	color: #E2E2F5;
	text-decoration: none;
}

#menuwrap ul li a:hover
{
	background-color: #00458A;
	color: #FFF;
}

#menuwrap ul ul li a
{
	display: block;
	padding-left: 20px;
	width: 180px;
	background-color: #006FDD;
	font-size: 0.85em;
}

#menuwrap ul ul li a:link, #menuwrap ul ul li a:visited
{
	color: #E2E2F5;
	text-decoration: none;
}

#menuwrap ul ul li a:hover
{
	background-color: #0059B3;
	color: #E2E2F5;
}

/* selected states */
#menuwrap ul li a#current
{
	font-weight: bold;
	color: #6699CC;
	background-color: #00458A;
}

#menuwrap ul ul li a#subcurrent
{
	font-weight: bold;
	color: #98C8F7;
	background-color: #0059B3;
}

#modmenuwrap { 
	width: 200px; 
	float: left; 
	clear: left; 
}

#modmenuwrap ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
}

#modmenuwrap li
{
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}

#modmenuwrap ul li a
{
	display: block;
	width: 190px;
	padding-left: 10px;
	background-color: #360;
	font-size: 0.9em;
}

#modmenuwrap ul li a:link, #modmenuwrap ul li a:visited
{
	color: #E2E2F5;
	text-decoration: none;
}

#modmenuwrap ul li a:hover
{
	background-color: #418200;
	color: #FFF;
}

#modmenuwrap ul ul li a
{
	display: block;
	padding-left: 20px;
	width: 180px;
	background-color: #60BF00;
	font-size: 0.85em;
}

#modmenuwrap ul ul li a:link, #modmenuwrap ul ul li a:visited
{
	color: #E2F5E2;
	text-decoration: none;
}

#modmenuwrap ul ul li a:hover
{
	background-color: #509F00;
	color: #E2F5E2;
}

/* selected states */
#modmenuwrap ul li a#modcurrent
{
	font-weight: bold;
	color: #9F0;
	background-color: #418200;
}

#modmenuwrap ul ul li a#modsubcurrent
{
	font-weight: bold;
	color: #9F0;
	background-color: #509F00;
}

/* SECTION:LOGIN */

#loginform {
	padding: 0 10px;
	width: 180px;
	margin: 1em 0;
	float: left;
	clear: left;
}

#loginform fieldset {
	padding: 10px;
	border: #036 1px solid;
}

#loginform legend {
	font-size: 120%;
	color: #036;
}

#loginform label {
}

#loginform input#userName, #loginform input#pswd {
	margin-right: 10px;
}

#loginform p {
	padding: 1em 0 0 0;
	text-align: right;
}

#loginform a {
	color: #036;
}

#loginform a:hover {	
	color: #F00;
}



/* SECTION:FORMS */

form label {
	cursor: pointer;
}

fieldset {
	border: none;
}
form ul {
	list-style: none;
}

form ul li {
	margin: 0 0 5px 0;
}

form ul.list {
	list-style-type: disc;
}

#formcontainer{
	background-color: #fff; 
}

#formset	{ 
	background-color: #DEE3E7; 
	padding: 5px 5px 5px 5px; 
	border: 1px #98AAB1 solid;
}

#formset fieldset{ 
	padding: 15px 15px 15px 15px; 
	border: 1px #006699 solid; 
	background:#EFEFEF;
	font-size:100%;
}

#formset legend{ 
	background: #0E72A4; 
	color:#fff;
	border: #26a solid 1px; 
	padding: 2px 10px;
	font-size:120%;
}

#formset label { 
	width: 250px; 
	/*height:0px;*/
	float: left; 
	text-align: left; 
	margin: 0px 10px 10px 10px; 
	clear: both;
}

#formset label.inline {
	margin: 0;
	height: auto;
	display: inline;
	float: none;
}

#formset label#txtarea, value#txtarea{ 
	height: 50px;
}

#formset value{ 
	width: 200px; 
	float: left; 
	background: #feb; 
	/*background: #fff; */
	border: #26a solid 1px; 
	padding: 1px 5px 1px;
}

#formset input,#formset select{ 
	margin: 0px 10px 10px 10px; 
	font-size:10px;
}

#formset textarea{
	margin: 0px 10px 10px 10px;
	font-size:10px;
	font-family:sans-serif;
}

#formset input.inline {
	margin: 0 10px;
}

#formset a:hover { 
	color: #F00;
}

#formset table{ 
	border: #aaa solid 1px; 
	font-size: 10px;
}

#formset tr#head{ 
	text-align: center; 
	background: #aaf
}

#formset value#small{ 
	width: 80px; 
	border: #aaa solid 1px; 
	padding: 1px 1px 1px 1px;
}

#formset value#med{ 
	width: 100px; 
	border: #aaa solid 1px; 
	padding: 1px 1px 1px 1px;
}

#formset value#big{ 
	width: 165px; 
	border: #aaa solid 1px; 
	padding: 1px 1px 1px 1px;
}

#formset a#table{ 
	border: #ccc dotted 1px; 
	font-size: 70%; 
	color: #d33; 
	padding: 1px 1px 1px 1px;
}


/* SECTION:ERROR */

#error {
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 35px;
    border: #FC6 1px solid;
    background: url(img/oops.png) #FFC no-repeat 5px 5px;
}

#error p {
    margin: 0;
}

#error ul {
    margin: auto;
    margin-bottom: 0.5em;
    list-style: disc;
}

#error p em {
    color: #C00;
    font-style: normal;
    font-weight: bold;
}

/* SECTION:HOME 
   Module Home page specific styling */

#home ul{
	/*margin-left: 200px;*/
	padding-bottom:112px;
	padding: 5px 5px 5px 5px; 
}

#home{
	background-color: #DEE3E7; 
	border: 1px #98AAB1 solid;
}
	
#home p{
	text-align:top;
/*	padding-left:200px;*/
  padding: 10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	font-size:125%;
	text-align:justify;
	line-height:1.25;
}

#home h2{
	text-align:center;
	padding-top:10px;
/*	padding-left:200px;
	padding-right:10px;*/
}

#home_recent{
}

#home_recent h1{
	font-size:120%;
	margin: 0 0 0 0;
	padding: 25px 5px 5px 5px; 
}

/* SECTION:RESULT 
   To list the results of a query 
*/

#parent{
	margin-left:15px;
}


#paging_nav ul{
       padding: 3px 0;
}
#paging_nav ul li {
      display : inline;
}


#result{
background-color: #DEE3E7; 
border: 1px #98AAB1 solid;
}

#result_msg{
	background-color: #DEE3E7; 
	text-align:center;
	padding: 5px 5px 15px 5px; 
	border: 3px #98AAB1 solid;
}

#result img{
	position:relative;
	padding: 5px 5px 15px 5px;
}

#result p{
	font-size:115%;
	line-height:1.3;
	padding-top:10px;
	padding-bottom:10px;
}

#result ul{
	font-size:150%;
	margin-left:250px;
	margin-top:-200px;
	padding-bottom:50px;
}

#result ul li{
	line-height:1.2;
}


#result table{
	background:white;
	width:100%;
}

#result thead td{
	text-align:center;
	padding:.25em .25em .25em .25em;
	border-right:2px solid #DEE3E7;
	background: #0E72A4; 
	color:#fff;
	border: #26a solid 1px; 
	font-size:100%;
}

#result tr td{
	text-align:left;
	padding:.1em .1em .1em .1em;
	font-size:90%;
	color:#000;
	background:#EFEFEF;
}
/* SECTION:MODIFIERS */

/* Clear floats without structural markup */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.hide {
	display: none;
}

.mini {
	font-size: 80%;
}

/* SECTION: MISC */
#note{
	background-color: #DEE3E7; 
	text-align:center;
	padding: 5px 5px 15px 5px; 
	border: 3px #98AAB1 solid;
}

div#toggle_reporter
{
display: none;
}

#note{
	background-color: #DEE3E7; 
	text-align:center;
	padding: 5px 5px 15px 5px; 
	border: 3px #98AAB1 solid;
}

/* SECTION:DEPRECATED */

#display{
	position:relative;
	margin-top:150px;
	padding: 5px 5px 5px 5px; 
}

#save{
	font-size:150%;
	color:#0E72A4;
	padding: 15px 15px 15px 15px;
}

#right{
	width:30%;
	float:left;
	background:white;
	padding-bottom: 1em;
	border:2px white solid;
}

#right #heading{
	width:100%;
	color:#fff;
	float:left;
	background:#003366;
	font-size:120%;
}


